*{
    margin: 0;
}

<<<<<<< HEAD

@font-face {
    font-family: monts;
    src: url(/PI/imagens/Montserrat/static/Montserrat-Bold.ttf);
}

=======
>>>>>>> 8c5c3650e3ebe23177909dc09cc9e204f2d518b8
body{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 150px;
    background-image: url(imagens/1581284747397.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-family: monts;

}


#loginUsername, #signupPassword, #signupUsername,#loginPassword {
    margin: 10px;
    padding: 5px;
    margin-bottom: 15px;
}

button{
    display: flex;
    width: 150px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px;
=======
}

#login, #singUp{
    padding: 25px;
    
}

#loginUsername, #signupPassword, #signupUsername,#loginPassword {
    margin-bottom: 15px;
>>>>>>> 8c5c3650e3ebe23177909dc09cc9e204f2d518b8
}